.btn-red { margin: 6px; padding: 6px 12px; background-color: #d71010; border: 1px solid #ccc; color: #fff; }
.btn-green { margin: 6px; padding: 6px 12px; background-color: #129515; border: 1px solid #ccc; color: #fff; }
.btn-grey { margin: 6px; padding: 6px 12px; background-color: #5a5a5a; border: 1px solid #ccc; color: #fff; }